.card-body a{
    text-decoration: none;
}
.price{
    background-color: #0d6efd;
    padding: 2px 12px;
    right: 0px;
    bottom: 20px;
    font-size: 22px;
    color: white;
    font-weight: 600;
    z-index: 100;
    position: absolute;
}

.card-inmueble-1 {
    overflow: hidden;
}
.tag {
    float: left;
    position: absolute;
    transform: rotate(-45deg);
    left: -60px;
    top: 30px;
    text-align: center;
    width: 200px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    font-weight: 500;
    line-height: 32px;
    background: #dc3545;
    text-transform: uppercase;
}

.seccion-superior, .area-contenido, .area-recientes {
    padding: 50px 0 50px 0;
}
.titulo {
    max-width: 700px; 
    margin: 0 auto 40px;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}
.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.logo {
    margin-top: -12px;
    margin-bottom: -56px;
    padding-top: 15px;
    position: relative;
    background: #ffffff none repeat scroll 0 0;
    display: inline-block;
    height: 100px;
    position: relative;
    text-align: center;
    width: 200px;
    z-index: 99;
}
/* #slideCaption1 h1 span {
    color:#ffc107;
} */

/* #menu ul li a {
    color: #ffffff;
    font-weight: 500;
    padding-left: 15px;
    text-transform: uppercase;
}
#menu ul li a:hover {
    color: #ffc107;
} */

/* @media screen and (max-width: 768px){
    #menu{
        padding-top: 0px;
    }
} */
@media screen and (max-width: 576px) {
    #slideCaption1 p {
        padding: 0 30px;
    }
    #slideCaption1 h3 {
        padding: 0 20px;
    }
    #slideCaption1 h1 {
        padding: 0 10px;
    }
}
/* @media screen and (min-width: 992px) {
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary {
        background-color: transparent !important;
    }
} */